.project_outer{
    height: 150px;
    border-width: 1px;
    border-style: solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    color: black;
    box-shadow: 3px 3px 3px lightgray;
    margin:10px;
}


.project_thumbnail {
    width: 130px;
    height: 130px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left; 
    background: darkgray;
    border-radius: 3px;
}

.thumbnail {
    width: 130px;
    height: 130px;
}

.project_title {
    margin: 10px;
    font-weight: bold;

}

.project_blurb {
    margin: 10px;
    font-weight: normal;
    font-size: 16px;
}

.title {
    height: 130px;
    clear: right;
    vertical-align: text-bottom; 
}