            <div class="footer">
                <img class="icn" src="\images\icons\facebook.png" />
                <img class="icn" src="\images\icons\flickr.png" />
                <img class="icn" src="\images\icons\gplus.png" />
                <img class="icn" src="\images\icons\linkedin.png" />
                <img class="icn" src="\images\icons\linkedin.png" />
                <img class="icn" src="\images\icons\linkedin.png" />
                <div id="footerText">ricardo bentes 2015</p>
            </div>
        </div>
    </body>
</html>