body {
    background-color: white;
    font-family: Abel;
    font-size:24px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    overflow:scroll;
}


.mainBody {
    background-color: white;
}

a{
    color: black;
}

.mainContent{
    margin-left: 20px;
    margin-right: 20px;
}

.header{
    height: 60px;
    margin-left: 10px
}

h1{
    font-style: normal;
    font-size: 50px;
    font-weight: 100;
}

h2, h3{
    font-style: normal;
    font-weight: 100;
}

.menuBar li{
    display: inline;
}

.menuItem{
    margin-right: 50px;
}

.menuItem a{
    color: white;
    text-decoration: none;
}

.menuBar{
    text-align: right;
    background-color: #242729; 
    color: white;
}

.slideshow{
    margin-left: 10px;
}

.footer{
    background-color: #242729;
    margin-top: 30px;
    font-size:small;
    color: white;
    height: 35px;
    clear: both;
}

#footerText{
    margin-right: 10px;
    padding-top:10px;
    float: right;
}

.icon{
    width: 25px;
    height: 25px;
    float: left;
    margin: 5px;
}

.icon:hover{
    box-shadow: 0px 0px 10px white;
    border-radius: 12px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}